nav.menu
{
margin-bottom: 20px;
padding-top: 15px;
padding-bottom: 15px;
background-color:#ADA6A6;
display: table;
width: 100%;
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;
}

nav.menu ul
{
width: 100%;
text-align: center;
display: table-cell;
vertical-align: middle;
}

nav.menu ul li
{
width: 20%;
border-right: 1px solid #707070;
display: inline;
vertical-align: baseline;
}

nav.menu ul li a
{
color: black;
font-style: normal;
text-decoration: none;
vertical-align:baseline;
text-align:center;
margin-left: 2%;
margin-right: 2%;
font-size:1.2em;
font-weight:600;
}

/*БЛЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯ*/
nav.menu2
{
margin-bottom: 20px;
padding-top: 15px;
padding-bottom: 15px;
background-color:white;
display: table;
width: 100%;
}

nav.menu2 ul
{
width: 100%;
text-align: center;
display: table-cell;
vertical-align: middle;
}

nav.menu2 ul li
{
width: 20%;
border-right: 1px solid #707070;
display: inline;
vertical-align: baseline;
}

nav.menu2 ul li a
{
color: black;
font-style: normal;
text-decoration: none;
vertical-align:baseline;
text-align:center;
margin-left: 2%;
margin-right: 2%;
font-size:1.2em;
font-weight:600;
}

#log{
	width: 200px;
	height: 70px;
}
#btn{
	background:#685b5b;
	width: 100%;
	margin-top: 10px;
}
.table {
	width: 100%;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table td {
	border: 1px solid black;
	color: white;
}
.table a{
	text-decoration: none;
	color: white;
}