@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');
body{
	margin: 0;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}
.wrap{
	width: 118em;
	margin: auto;
	height: 100%;

}
header{
	height: 15em;
	position: absolute;
	width: 100%;
	top: 0;	left: 0;
	z-index: 5;
}
header .wrap{
	display: flex;
	align-items: center;
}

/*==========Первый блок=========*/

.main{
	background: url('../images/main.png') center center no-repeat;
	background-size: cover;
	height: 100vh;
	box-sizing: border-box;
	position: relative;
	padding-top: 48vh;
	background-attachment: fixed;
}
.gadget{
	position: absolute;
	height: 94.8em;
	bottom: -25em;
	right: 15%;
}
.main-title{
	font-weight: 300;
	font-size: 6em;
	margin: 0;
	color: #fff
}
.main-desc{
	font-weight: 400;
	font-size: 1.3em;
	color: #fff;
	width: 34.6em;
}
.block2{
	padding: 10em 0 8em;
}
.block2-title{
	font-weight: 300;
	font-size: 3.5em;
	color: #222626
}
.block2-text{
	color: #959595;
	font-size: 1.4em;
	width: 48%;
	line-height: 1.7em;
}
.block2-wrap{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.block3{
	padding-left:  calc(50% - 59em);
	box-sizing: border-box;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.block3::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.block3-wrap{
	width: 200em;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.small-prev{
	height: 28em;
	width: 40em;
	padding: 5em 4em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: url() center center no-repeat;
	background-size: cover;
}
.block3-title{
	font-size: 3em;
	font-weight: 300;
	margin: 0;
	color: #fff;
}
.block3-text{
	font-size: 1.3em;
	color: #fff;
	width: 95%;
	line-height: 2em;
}
.block3-link{
	font-size: 1.4em;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.big-prev{
	height: 28em;
	width: 80em;
	padding: 5em 4em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: url() center center no-repeat;
	background-size: cover;
}